$primary: #673ab7;
$meeting: #d7c1fe;
$call: #fbb6eb;
$out: #e8e6e6;
$today: #fdeadc;
$text: #151e27;
$white: #fff;

$block-radius: 5px;

$main-background: radial-gradient(circle, rgba(255,255,255,0.25956320028011204) 0%, rgba(103,58,183,0.3015800070028011) 90%);