@import '../../styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  // color: rgb(124, 123, 123);
  color: $white;
  background-color: lighten($primary, 10%);
}