@if(!newEventDate()) {
  <span class="create-button-block">
    <button mat-fab color="primary" (click)="openNewEvent()">
      <mat-icon>add</mat-icon>
    </button>
  </span>
}

<section class="container">
  <section class="calendar-container">
    <app-calendar (selectDate)="selectDate($event)" (selectEvent)="selectEvent($event)" />
  </section>
  
  <section class="create-event-container"> 
    @if(selectedEvent$ | async) {
      <app-details-event [event]="selectedEvent$ | async" (delete)="openConfirmation($event)" (close)="closeEventDetails()" />
    }

    @else if(!!newEventDate()) {
      <app-create-event [newEventDate]="newEventDate()" (addEvent)="addEvent($event)" (cancelEvent)="cancelNewEvent()" />
    }

    @else {
      <div class="initial-message">PERSONAL CALENDAR</div>
    }
  </section>
</section>
