<section class="container">
  <section class="calendar-container">
    <app-calendar (selectDate)="selectDate()" (selectEvent)="selectEvent($event)" />
  </section>
  
  <section class="create-event-container"> 
    @if(selectedEvent$ | async) {
      <app-details-event [event]="selectedEvent$ | async" (delete)="openConfirmation($event)" />
    }

    @else if(isNewEvent()) {
      <app-create-event (addEvent)="addEvent($event)" />
    }

    @else {
      <div>Would you like to create a new event ?</div>
    }
  </section>
</section>
