@import'../../styles/variables.scss';

.error-container {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;

  .icon {
    color: darken($today, 35%);
    font-size: 50px;
    padding-bottom: 3rem;
    width: 100%;
  }
}