<section class="details-container">
  <div>
    <span class="title">Title:</span>
    <span>{{ event?.title }}</span>
  </div>
  <div>
    <span class="title">Start date:</span>
    <span>{{ event?.start | date:'yyyy-mm-dd' }}</span>
  </div>
  <div>
    <span class="title">Start time:</span>
    <span>{{ event?.start | date:'HH:mm'}}</span>
  </div>
  <div>
    <span class="title">End time:</span>
    <span>{{ event?.end | date:'HH:mm' }}</span>
  </div>
  <div>
    <span class="title">Description:</span>
    <span>{{ event?.description }}</span>
  </div>

  <div class="buttons-container">
    <button mat-raised-button color="warn" (click)="onDeleteEvent()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>

    <button mat-raised-button (click)="onClose()">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
  </div>
</section>