<section class="details-container">
  <div>
    <span class="label">Title:</span>
    <span id="title">{{ event?.title }}</span>
  </div>
  <div>
    <span class="label">Start date:</span>
    <span id="date">{{ event?.start | date:'yyyy-MM-dd' }}</span>
  </div>
  <div>
    <span class="label">Start time:</span>
    <span id="start">{{ event?.start | date:'HH:mm'}}</span>
  </div>
  <div>
    <span class="label">End time:</span>
    <span id="end">{{ event?.end | date:'HH:mm' }}</span>
  </div>
  <div>
    <span class="label">Description:</span>
    <span id="description">{{ event?.description }}</span>
  </div>
  <div>
    <span class="label">Meeting type:</span>
    <span id="description">{{ titles()[event?.type || 'NONE'] }}</span>
  </div>

  <div class="buttons-container">
    <button mat-raised-button color="warn" (click)="onDeleteEvent()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>

    <button mat-raised-button (click)="onClose()">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
  </div>
</section>