@import '../../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  margin-right: 1rem;
  padding: 5rem 2rem;
  justify-content: start;
  background-color: $white;
  border-radius: 5px;
}

.start-time {
  margin-right: 1rem;
}